*{
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
    margin: 0;
    padding: 0;
}

body{
    color: #263138 ;
}

/* Cabeçalho */
header{
    background-color: #FF9A6C;
    display: flex;
    padding-top: 25px;
    padding-bottom: 30px;
}

header div a#logowhite{
    padding-left: 50px;
}

header nav a{
    color: #FFFFFF;
    padding-right: 30px;
    text-decoration: none;
}

header nav a:hover { 
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
}

/* Main */

#inicio{
    display: flex;
    align-items: center;
    gap: 32px;
    /* PADDING: topo, direita, baixa, esquerda (sentido horário) */
    padding: 24px 80px 128px 80px;
    position: relative;
}

h1, h2{
    font-weight: 600;
    font-size: 32px;

}

.paragraph{
    line-height: 150%;
    margin-bottom: 32px;
    margin-top: 32px;
}

.button{
    background-color: #FF725E;
    border-radius: 8px;
    /*PADDING: vertical, horizontal*/
    padding: 16px 32px;
    color: #FFFFFF;
    text-decoration: none;
}

.button:hover{
    text-decoration: none;
    color: #FFFFFF;
}

.transparent-button{
    background-color: transparent;
    color: #FF725E;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.transparent-button:hover{
    color: #FF725E;
}

.absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

#clinica{
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

#clinica li{
    margin-bottom: 16px;
    margin-left: 32px;
}

#farmacia{
    padding: 64px 80px;
    text-align: center;
}

#farmacia img{
    margin: 64px auto;
}

#farmacia .paragraph{
    max-width: 950px;
    margin: 0 auto;
}

#duvidas{
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

.doubts{
    position: relative;
}

.doubts h3{
    border: 2px solid #FF725E;
    border-radius: 8px;
    cursor: pointer;
    padding: 24px;
}

.doubts img{
    position: absolute;
    top: 32px;
    right: 24px;
}

.doubts .paragraph{
    border-right: 1px solid #FF725E;
    border-left: 1px solid #FF725E;
    border-bottom: 1px solid #FF725E;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    opacity: 0;
    padding: 0 24px;
    height: 0;
    overflow: hidden;
    transition: .2s;
}

.doubts.active .paragraph{
    height: fit-content;
    opacity: 1;
    padding: 24px;
}

footer{
    background-color: rgba(255, 152, 108, 0.25);
    justify-content: space-between;
    gap: 80px;
    padding: 64px 80px;
}

footer .imgp{
    padding-left: 128px;
}

footer img,
.footer .title{
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
    padding-left: 128px;
}

footer nav a{
    color: #263138;
    display: block;
    text-decoration: none;
    padding-right: 140px;
    padding-top: 16px;
}

footer nav a:hover{
    text-decoration: none;
    color: #FF725E;
}

footer p a{
    color: #FF725E;
    text-decoration: none;
}

footer p a:hover{
    color: #FF725E;
    text-decoration: none;
}

footer p{
    margin-bottom: 16px;
    max-width: 350px;
    padding-right: 120px;

}

#copyright{
    background-color: #263138;
    padding: 24px;
    text-align: center;
    color: #FFFFFF;
}

#copyright a{
    color: #FF9A6C;
    text-decoration: underline;
}